
<div class="col-md-3 h-100">
  <div class="row ml-3 h-100">
    <div class="col">
      <div class="card h-100">
        <div class="card-header">
          <h5 class="card-title text-muted">Member logs</h5>
        </div>
        <div class="accordion" id="userAccordion">
          <% @users.select { |user| user.role == 'member' }.each_with_index do |user, user_index| %>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= user_index %>" aria-expanded="<%= user_index == 0 %>" aria-controls="collapse<%= user_index %>">
                  <%= user.name %>
                </button>
              </h2>
              <div id="collapse<%= user_index %>" class="accordion-collapse collapse" data-bs-parent="#userAccordion">
                <div class="accordion-body">
                  <% user.health_metrics.each do |log| %>
                    <a href="<%= health_metric_path(log) %>">
                      <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#log<%= log.id %>Details" aria-expanded="false" aria-controls="log<%= log.id %>Details">
                        <%= log.created_at.strftime("%B %d, %Y") %>
                      </button>
                    </a><br>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-8 h-100">
  <div class="h-100 d-flex flex-column">
    <div class="card mb-3" style="height: 30%; overflow-y: auto;">
        <div class="card-body scroll main_container2_0">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title m-0">Announcements</h5>
          </div>
          <% Announcement.where(for_user_type: current_user.role).each do |announcement| %>
            <p class="card-text"> - <%= announcement.content %></p>
          <% end %>
        </div>
    </div>
    <div class="card flex-grow-1">
      <div class="card-body">
        <main class="container">
          <section class="container mb-5">
            <h2>Training Sessions</h2>
            <%= render partial: "shared/index_layout", locals: { resource: TrainingSession.includes(:user, :room_booking).where(user: current_user), heading: "name", fields: [
              'user.name',
              'room_booking.location',
              'room_booking.booking_time']} %>
          </section>
        </main>
    </div>
  </div>
</div>

