<div class="col-md-3 h-100">
  <div class="row ml-3 mb-5 h-100">
    <div class="col">
      <div class="card h-100">
        <div class="card-header">
          <h5 class="card-title text-muted">Trainers</h5>
        </div>
        <div class="accordion" id="userAccordion">
          <% User.includes(:training_sessions).where(role: 'trainer').each_with_index do |trainer, index| %>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= trainer.id %>" aria-expanded="<%= index == 0 %>" aria-controls="collapse<%= trainer.id %>">
                  <%= trainer.name %>
                </button>
              </h2>
              <div id="collapse<%= trainer.id %>" class="accordion-collapse collapse" data-bs-parent="#trainerAccordion">
                <div class="accordion-body">
                  <ul class="list-unstyled">
                    <% trainer.training_sessions.each do |session| %>
                      <li><a href="<%= training_session_path(session) %>"><%= session.name %></a></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-8 h-100">
  <div class="h-100 d-flex flex-column">
    <div class="card mb-3" style="height: 30%; overflow-y: auto;">
      <div class="card-body">
        <h5 class="card-title">Trainer's Announcements</h5>
        <p class="card-text">
          HELLO WORLD THIS IS THE TRAINERS PAGE, WELCOME TO THE TRAINERS PAGE, HERE IS WHERE YOU CAN SEE ALL THE MEMBERS AND THEIR HEALTH METRICS
        </p>
      </div>
    </div>
    <div class="card flex-grow-1">
      <div class="card-body">
        <main class="container">
          <section class="container mb-5">
            <h2>Room Bookings</h2>
            <%= render partial: "shared/index_layout", locals: { resource: RoomBooking.all, heading: "location", fields: [
              'booking_time']} %>
          </section>
        </main>
    </div>
  </div>
</div>
