<div class="container-fluid">
  <div class="row">
    <div class="col-6 d-flex flex-column">
      <div class="card overflow-auto mb-3">
        <div class="card-body scroll main_container1">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title m-0">Health Metrics</h5>
            <a href="<%= new_health_metric_path %>" class="btn btn-outline-primary">Add New Log</a>
          </div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Metric</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <% current_user.health_metrics.each do |metric_log_time| %>
                  <% metrics = {
                    height: metric_log_time.height,
                    weight: metric_log_time.weight,
                    bmi: metric_log_time.bmi,
                    hydration: metric_log_time.hydration,
                    muscle_mass: metric_log_time.muscle_mass,
                    caloric_intake: metric_log_time.caloric_intake,
                    caloric_burn: metric_log_time.caloric_burn,
                    steps: metric_log_time.steps,
                    sleep_quality: metric_log_time.sleep_quality,
                    resting_heart_rate: metric_log_time.resting_heart_rate
                  } %>
                  <% metrics.each_with_index do |(key, value), index| %>
                    <tr onclick="window.location='<%= edit_health_metric_path(metric_log_time) %>'" style="cursor: pointer;">
                      <% if index == 0 %>
                        <td rowspan="<%= metrics.size %>">
                          <%= metric_log_time.created_at.strftime("%B %d, %Y") %>
                        </td>
                      <% end %>
                      <td>
                        <%= key.to_s.humanize %>
                      </td>
                      <td><%= value %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 d-flex flex-column">
      <div class="card overflow-auto mb-3">
        <div class="card-body scroll main_container2_0">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title m-0">Announcements</h5>
          </div>
          <% if Payment.where(user_id: current_user.id).where('payment_date > ?', 45.days.ago).empty? %>
            <h5 class="text-warning mb-3"> Your last payment was over 45 days ago. Please contact the admin staff !!</h5>
          <% end %>
          <% Announcement.where(for_user_type: current_user.role).each do |announcement| %>
            <p class="card-text"> - <%= announcement.content %></p>
          <% end %>
        </div>
      </div>
      <div class="card overflow-auto mb-3">
        <div class="card-body scroll main_container2_1">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title m-0">Acomplishments</h5>
          </div>
          <div class="table-responsive">
            <table class="table table-hover text-center">
              <colgroup>
                <col style="width: 25%">
                <col style="width: 25%">
                <col style="width: 25%">
                <col style="width: 25%">
              </colgroup>
              <thead>
                <tr class="text-muted">
                  <th class="text-muted">Year</th>
                  <th class="text-muted">Month</th>
                  <th class="text-muted">Mindfulness</th>
                  <th class="text-muted">Fitness</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% number_of_session_this_year = current_user.member_sessions.select { |session| session.training_session.room_booking.booking_time.year == Time.now.year }.size %>
                  <% number_of_session_this_month = current_user.member_sessions.select { |session| session.training_session.room_booking.booking_time.month == Time.now.month }.size %>
                  <% number_of_mindfulness_sessions = current_user.member_sessions.select { |session| session.training_session.name == "mindfulness" }.size %>
                  <% number_of_fitness_sessions = current_user.member_sessions.count { |session| !["mindfulness", "nutrition"].include?(session.training_session.name) } %>
                  <td><h2><%= number_of_session_this_year %></h2></td>
                  <td><h2><%= number_of_session_this_month %></h2></td>
                  <td><h2><%= number_of_mindfulness_sessions %></h2></td>
                  <td><h2><%= number_of_fitness_sessions %></h2></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card overflow-auto mb-3">
        <div class="card-body scroll main_container2">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title m-0">Training Sessions</h5>
            <a href="<%= new_member_session_path %>" class="btn btn-outline-primary">Find new session</a>
          </div>
          <div class="table-responsive">
            <h6>Upcoming Sessions</h6>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date & Time</th>
                  <th>Session</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% upcoming_sessions = current_user.member_sessions.select { |session| session.training_session.room_booking.booking_time > Time.now } %>
                <% upcoming_sessions.each do |session| %>
                  <tr>
                    <td><%= session.training_session.room_booking.booking_time.strftime("%B %d, %Y %H:%M") %></td>
                    <td><%= session.training_session.name.humanize %></td>
                    <td>
                      <%= button_to session, method: :delete, data: { confirm: "Are you sure you want to delete this #{session.class.name.downcase}?" }, class: "btn btn-outline-danger btn-sm", form: { class: "d-inline" } do %>
                        Drop
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <h6 class="text-muted">Past Sessions</h6>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="text-muted">Date & Time</th>
                  <th class="text-muted">Session</th>
                  <th class="text-muted"></th>
                </tr>
              </thead>
              <tbody>
                <% upcoming_sessions = current_user.member_sessions.select { |session| session.training_session.room_booking.booking_time <= Time.now } %>
                <% upcoming_sessions.each do |session| %>
                  <tr>
                    <td class="text-muted"><%= session.training_session.room_booking.booking_time.strftime("%B %d, %Y %H:%M") %></td>
                    <td class="text-muted"><%= session.training_session.name.humanize %></td>
                    <td>
                      <%= button_to session, method: :delete, data: { confirm: "Are you sure you want to delete this #{session.class.name.downcase}?" }, class: "btn btn-outline-danger btn-sm invisible disabled", form: { class: "d-inline" } do %>
                        Drop
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
